<?xml version="1.0" encoding="UTF-8"?>
<!-- OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL -->
<configuration status="error">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %-48.48c %-3L - %msg%xEx%n"/>
		</Console>
		<RollingFile name="RollingFile" fileName="../logs/spring-boot-mybatis/system.log"
		             filePattern="../logs/spring-boot-mybatis/$${date:yyyy-MM}/system-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss z} %-5level %-48.48c %-3L - %msg%xEx%n"/>
			<SizeBasedTriggeringPolicy size="100 MB"/>
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="cn.jcm.core" level="info"/>
		<root level="info">
			<appender-ref ref="RollingFile"/>
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>